/* Start Of Color Palette*/
.backcolor1 {
	background-color: #00171F;
}
.backcolor2 {
	background-color: #003459;
}
.backcolor3 {
	background-color: #007EA7;
}
.backcolor4 {
	background-color: #00A8E8;
}
.backcolor5 {
	background-color: #FFFFF4;
}
.color1 {
	color: #00171F;
}
.color2 {
	color: #003459;
}
.color3 {
	color: #007EA7;
}
.color4 {
	color: #00A8E8;
}
.color5 {
	color: #FFFFF4;
}
/* End Of Color Palette*/